@charset "utf-8";
/**
 * classes for special style
 * last update:     2017-05-10 09:55
 */

/* display type */
.inline {
    display: inline;
    width: auto;
}

.block {
    display: block;
    /*width: 100%;*/
}

.hidden, .hide {
    display: none;
}

/* container layout */
.center,
.centered {
    margin-left: auto;
    margin-right: auto
}

.fl {
    float: left
}

.fr {
    float: right
}

.clear {
    clear: both
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
    clear: both;
}

.floor { /* 多层布局用的层 */
    clear: both;
    margin-bottom: 20px;
    background-color: #fff;
}

.layer {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.layer.contentLayer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.layer.maskLayer {
    background-color: #000;
    background-color: rgba(0,0,0,0.7);
}

/**
 * Dom structure:
 * .contentLayer.backgroundLayer
 * ---- img
 */
.layer.backgroundLayer img {
    width: 100%;
    height: auto;
}

.layer > div {
	position: absolute;
	z-index: 2;
}

.header,
.nav,
.content,
.footer {
    clear: both;
}

/* width */
.w120 {
    width: 120px;
    box-sizing: border-box;
}

.w240 {
    width: 240px;
    box-sizing: border-box;
}

.w100p {
    width: 100%;
    box-sizing: border-box;
}

.w80p {
    width: 80%;
    box-sizing: border-box;
}

.w70p {
    width: 70%;
    box-sizing: border-box;
}

.w50p {
    width: 50%;
    box-sizing: border-box;
}

.w40p {
    width: 40%;
    box-sizing: border-box;
}

.w30p {
    width: 30%;
    box-sizing: border-box;
}

.w20p {
    width: 20%;
    box-sizing: border-box;
}

.min_w40,
.min40 {
    min-width: 40px;
    box-sizing: border-box;
}

.min_w80,
.min80 {
    min-width: 80px;
    box-sizing: border-box;
}

.min_w120,
.min120 {
    min-width: 120px;
    box-sizing: border-box;
}

.min_w160,
.min160 {
    min-width: 160px;
    box-sizing: border-box;
}

.max_w120,
.max120 {
    max-width: 160px;
    box-sizing: border-box;
}

.max_w160,
.max160 {
    max-width: 160px;
    box-sizing: border-box;
}

.max_w200,
.max200 {
    max-width: 200px;
    box-sizing: border-box;
}

.max_w320,
.max320 {
    max-width: 320px;
    box-sizing: border-box;
}
.max_w640,
.max640 {
    max-width: 640px;
    box-sizing: border-box;
}
.max_w720,
.max720 {
    max-width: 720px;
    box-sizing: border-box;
}

.limit_max_width {
    max-width: 100%;
}

/* margin & padding */
.no-margin,
.noMargin {
    margin: 0;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.no-padding,
.noPadding {
    padding: 0;
}

/* background */
.white_bg {
    background-color: white;
}

.grey_bg {
    background-color: #EEE;
}

.black_bg {
    background-color: #000;
}

.blue_bg,
.primary_bg {
    color: #fff;
    background-color: #337ab7;
}

.green_bg,
.success_bg {
    background-color: #dff0d8;
}

.info_bg {
    background-color: #d9edf7;
}

.yellow_bg,
.warning_bg {
    background-color: #fcf8e3;
}

.red_bg,
.danger_bg {
    background-color: #f2dede;
}

.starryNightBg {
    background-color: black;
    background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.heartsBg {
    background:
            radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
            radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
            radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
            radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
            radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

            radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
            radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
            radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
            radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
            radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
    background-color:#b03;
    background-size:100px 100px;
}

.honeyCombBg {
    background:
            radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
            radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
            linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
            linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
            linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
            linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
    background-size:40px 60px;
}

.tablecloth {
    background-color:white;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size:50px 50px;
}

.mask {
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

/* align */
.align-left,
.align_left,
.alignLeft {
    text-align: left;
}

.align-center,
.align_center,
.alignCenter {
    text-align: center;
}

.align-right,
.align_right,
.alignRight {
    text-align: right;
}

.align-justify,
.align_justify,
.justify {
    text-align: justify;
}

/* font */
.wryh,
.msyh,
.yahei{
    font-family: "微软雅黑", "黑体";
}

.f12 {
    font-size: 12px;
}
.f13 {
    font-size: 13px;
}
.f14 {
    font-size: 14px;
}
.f15 {
    font-size: 15px;
}
.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f80p {
    font-size: 80%
}

.f90p {
    font-size: 90%
}

.f110p {
    font-size: 110%
}

.f120p {
    font-size: 120%
}

.f130p {
    font-size: 130%
}

.bold {
    font-weight: 700
}

.lighter {
    font-weight: lighter;
}

/* text color */
.red,
.error,
.price {
    color: #dd5a43;
}
.pink {
    color: #e6aeb9;
}

.orangered {
    color: orangered;
}

.orange {
    color: #e69100;
}

.yellow {
    color: #f5ea18;
}

.greenyello {
    color: #9ee62c;
}

.green, .success {
    color: #69aa46;
}

.olive {
    color: #919100;
}

.blue {
    color: #478fca;
}

.skyblue {
    color: #82cae7;
}

.purple {
    color: #9c179c;
}

.white {
    color: #fff;
}

.grey, .more {
    color: #999
}

.darkgrey, .date {
    color: #666
}

/* mouse cursor */
.hand {
    cursor: pointer
}

/* border */
.bottomBorder {
    border-bottom: solid 1px #CCCCCC;
}

/* rotate animation
 * keyframes need: keyframes -webkit-keyframes -moz-keyframes
 */
@-webkit-keyframes rotate2d {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate2d {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate2d {
    /*
     * transform need: transform -webkit-transform -moz-transform -ms-transform
     */
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotate2d {

    /* for old version of google chrome, safari, opera */
    -webkit-animation-name: rotate2d;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    /* for old version of firefox */
    -moz-animation-name: rotate2d;
    -moz-animation-duration: 20s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: rotate2d;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* loading icon */
@-moz-keyframes spinner-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner-loader {
    vertical-align: middle;
}

/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
    -moz-animation: spinner-loader 1500ms infinite linear;
    -webkit-animation: spinner-loader 1500ms infinite linear;
    animation: spinner-loader 1500ms infinite linear;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    display: inline-block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin: 1.5em;
    overflow: hidden;
    text-indent: 100%;
}

@-moz-keyframes refreshing-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes refreshing-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes refreshing-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* :not(:required) hides this rule from IE9 and below */
.refreshing-loader:not(:required) {
    -moz-animation: refreshing-loader 1000ms infinite linear;
    -webkit-animation: refreshing-loader 1000ms infinite linear;
    animation: refreshing-loader 1000ms infinite linear;
    -moz-border-radius: 2.4em;
    -webkit-border-radius: 2.4em;
    border-radius: 2.4em;
    border: 0.4em solid #9ac;
    border-left-color: transparent;
    color: transparent;
    display: inline-block;
    font-size: 10px;
    line-height: 1.2;
    width: 3em;
    height: 3em;
    text-indent: 100%;
}

.refreshing-loader:not(:required):after {
    display: block;
    border: 0.5em solid transparent;
    border-top-color: #9ac;
    border-left-color: #9ac;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
    margin-left: -0.2em;
    margin-top: 1em;
}

/* paragraph */
.indent_2em {
    text-indent: 2em;
}

p.mute {
    color: #777;
}

p.primary {
    color: #337ab7;
}

p.success {
    color: #3c763d;
}

p.info {
    color: #31708f;
}

p.warning {
    color: #8a6d3b;
}

p.danger {
    color: #a94442;
}

/* icon class 图标类 */

.icon {
    display: inline-block;
    text-align: center;
}

/* shape style */
.rounded {
    border-radius: 6px;
}

.border_radius {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.no-radius {
    border-radius: 0;
}

.circle {
    border-radius: 50%;
}

.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* button style */
.button {
    display: inline-block;
    min-height: 30px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 100%;
    line-height: 1.5;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #FFF;
    border: solid 1px #DDD;
    color: #666;
}

a.button,
a.button:hover {
    text-decoration: none;
}

.button.large,
.button.lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.button.small,
.button.sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.button.extra_small,
.button.xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.button.red,
.button.danger {
    border: none;
    background-color: #e74c3c;
    color: white;
}

.button.red:hover,
.button.danger:hover {
    background-color: #d24333;
}

.button.orange {
    border: none;
    background-color: #e69100;
    color: white;
}

.button.orange:hover {
    background-color: #e69100;
}

.button.darkred {
    border: none;
    background-color: #8b0000;
    color: #FFF;
}

.button.darkred:hover {
    background-color: #750000;
}

.button.yellow,
.button.warning {
    border: none;
    background-color: #f5ea18;
    color: white;
}

.button.yellow:hover,
.button.warning:hover {
    background-color: #f5ea18;
}

.button.green,
.button.success {
    border: none;
    background-color: #2ecc71;
    color: white;
}

.button.green:hover,
.button.success:hover {
    background-color: #2ecc71;
}

.button.darkgreen {
    border: none;
    background-color: #69aa46;
    color: #FFF;
}

.button.darkgreen:hover {
    background-color: #519045;
}

.button.blue {
    border: none;
    background-color: #266ac2;
    color: white;
}

.button.blue:hover {
    background-color: #265fb7;
}

.button.cyan,
.button.info {
    border: none;
    background-color: #5dade2;
    color: white;
}

.button.cyan:hover,
.button.info:hover {
    background-color: #5da1d6;
}

.button.pink {
    border: none;
    background-color: #e6aeb9;
    color: white;
}

.button.pink:hover {
    background-color: #dca4af;
}

.button.purple {
    border: none;
    background-color: #9c179c;
    color: white;
}

.button.purple:hover {
    background-color: #911791;
}

.button.disable {
    border: none;
    background-color: #95a5a6;
    color: white;
}

.button .icon {
    margin-bottom: 4px;
    padding: 0;
    min-width: 0;
}

.button.musicNote {
    border: none 0;

    width: 36px;
    height: 36px;
    padding: 0;

    background: url(image/music_off_8d94020.png) transparent no-repeat center center;
    background-size: 100% 100%;

    -webkit-animation: rotate2d 1.2s linear infinite;
    animation: rotate2d 1.2s linear infinite;
}

.button.musicNote.small {
    width: 28px;
    height: 28px;
}

.button.musicNote.large {
    width: 44px;
    height: 44px;
}

.button.musicNote.stopped {
    /* cancel animation */
    -webkit-animation: none;
    animation: none;
}

/* list style */
.list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.list > li:last-child,
.list .last {
    border-bottom: none 0;
}

.inline_list {
    display: block;
    padding-left: 0;
    margin-left: 0;
}

.inline_list > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.list.concise {
    border: solid 1px #EFEFEF;
    background-color: #FFF;
}

.list.concise li {
    margin: 0;
    border-bottom: solid 1px #EFEFEF;
    padding: 10px;
}

.list.concise li:last-child {
    border-bottom: 0 none;
}

.list.concise li a {
    display: block;
}

.trans {
    opacity: 0.8
}

.hoverNoOpacity {
    opacity: 1;
}

.round {
    border-radius: 5px
}

.shadow {
    box-shadow: 1px 1px 5px #666
}

.tshadow {
    text-shadow: 0 0 10px #333
}

.circle1, .cart1, .embossed1, .embossed2 {
    border-radius: 20px
}

.circle {
    border: 3px solid #000
}

.cart {
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.5)
}

.embossed {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8),
    0 2px 0 rgba(255, 255, 255, 0.5),
    0 -5px 0 rgba(0, 0, 0, 0.6),
    0 -9px 0 rgba(255, 255, 255, 0.3);
}

.card_content_container {
    overflow: hidden;
}

.cardBox,
.card_layout {
    /*border: solid 1px #3a3a3a;*/
    border-radius: 4px;
    box-shadow: 2px 2px 5px #333;
    margin-bottom: 10px;
    background-color: #FFF;
    overflow: hidden;
}

.cardBox .rowBox,
.card_layout .image_row,
.card_layout .title_row {
    overflow: hidden;
    text-align: center;
}

.cardBox .imageRow,
.card_layout .image_row {
    height: 8rem;
    background-color: #c9c9c9;
}

.cardBox .imageRow img,
.card_layout .image_row img {
    max-width: 100%;
    height: auto;
}

.cardBox .titleRow,
.card_layout .title_row {
    height: 28px;
    line-height: 28px;
    padding: 6px 4px;
}

/* link transition  链接切换效果 */
.transition {
    transition: all .1s ease-in-out 0.2s;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-in-out 0.2s;
    -moz-transition: all .1s ease-in-out 0.2s;
}

/* Table class  表格类 ----------------------------*/
.table caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}
.table th,
.table td {
    padding: 8px;
    word-break: break-all;
}

.table.bordered {
    border: 1px solid #ddd;
}

/* 有边框的表格 */
table.bordered th,
table.bordered td {
    border: 1px solid #ddd;
}

/* 条纹表格 */
table.striped thead tr {
    background-color: #CCC;
}

table.striped tbody tr.odd,
table.striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table.striped tbody tr.hover > tbody > tr:hover {
    background-color: #f5f5f5;
}

/* form element class  表单元素类 ---------------------------*/

.form {
    line-height: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form label,
.label,
.form_label {
    display: inline-block;
    font-weight: 700;
    max-width: 100%;
    vertical-align: middle;
}

.form input[type="text"],
.form textarea,
.form .text,
.inputbox,
.textbox {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 0;
    box-shadow: none;
    color: #858585;
    font-family: inherit;
    line-height: 1.5;
    transition-duration: 0.1s;
    box-sizing: border-box;
    vertical-align: middle;
    width: 100%;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
}

input.inline {
    display: inline-block;
    width: auto;
}

.form textarea,
textarea.inputbox,
textarea.textbox {
    height: auto;
    min-height: 80px;
}

input[type="text"].error,
textarea.error,
.inputbox.error,
.textbox.error,
.error .inputbox {
    color: #a94442;
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input[type="text"].success,
textarea.success,
.inputbox.success,
.textbox.success,
.success .inputbox {
    color: #3c763d;
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input[type="text"].warning,
textarea.warning,
.inputbox.warning,
.textbox.warning,
.warning .inputbox {
    color: #8a6d3b;
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form input[type="text"][disabled],
.form input[type="text"][readonly],
.form textarea[disabled],
.form textarea[readonly],
.inputbox[disabled],
.inputbox[readonly],
.textbox[disabled],
.textbox[readonly] {
    background-color: #eaeded;
    border-color: transparent;
    color: #cad2d3;
}

.form input[type="text"]:focus,
.form textarea:focus,
.text:focus,
.inputbox:focus,
.textbox:focus {
    border-color: #f59942;
    color: #696969;
    box-shadow: none;
    outline: 0 none;
}

.form input[type="checkbox"],
.checkbox,
.form input[type="radio"],
.radio {
    margin-right: 6px;
    vertical-align: middle;
}

.form select,
.selectbox {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 0;
    box-shadow: none;
    color: #858585;
    padding: 3px 4px;
    vertical-align: middle;
}

select.inline {
    display: inline-block;
    width: auto;
}

.form p {
    padding-bottom: 10px
}

.form .has_input_icon {
    position: relative;
}

.form .input_icon {
    color: #909090;
    display: inline-block;
    font-size: 16px;
    line-height: 28px;
    padding: 0 3px;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 3px;
    z-index: 2;
}

.form .input_icon.input_icon_right {
    left: auto;
    right: 3px;
}

